__pycache__/
*.py[cod]
*$py.class

venv/
ENV/

*.sqlite3
*.sqlite3-journal

media/

*.log
*.pid
*.seed

*.env
local_settings.py

.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

.DS_Store

Thumbs.db
Desktop.ini

.idea/

.ipynb_checkpoints

db.sqlite3
/db.sqlite3-journal

*.sqlite3
*.sqlite3-journal

.cache
.pytest_cache/

.mypy_cache/
